<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<%- include('partials/header') %>


<body>
    <p>My name is Landon Stucki, I was born in St. George Utah but moved to Idaho by
      the time I was about 6 years old; I have lived there ever since.
    </p>

    <section class = "Hobbies">
      <h2>My Hobbies:</h2>
      <ul>
        <li>Soccer</li>
        <li>Cliff Jumping</li>
        <li>Swimming</li>
        <li>Camping</li>
        <li>Gaming</li>
        <li>Reading</li>
        <li>Eating</li>
        <li>Activities that boost adrenaline</li>
        <li>Watching shows/chilling</li>
        <li>Sleeping</li>
      </ul>
    </section>
  <img src = "/images/landonrocky.png"></img>

</body>

<%- include('partials/footer') %>

</html>